.slider-wrapper { 
	width: 100%; 
	margin: 10px auto;
}
.clear {
	clear:both;
}
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container-fluid
{
	width: 100%;
}
.container
{
	width: 1140px;
	margin: 0px auto;
	display: flex;
}
.header
{
	height: 100px;
}
.menu-list
{
	list-style: none;
}
.menu-list li
{
	float: left;
}
.menu-list li a
{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px;
}
.menu-list li a:hover
{
	background-color: tomato;
	color: white;
}
.top-menu
{
	margin-top: 25px;
}
.slogan
{
	text-align: center;
	width: 100%;
}
.btn-list
{
	list-style: none;
	display: inline-block;
}
.btn-list li
{
	float: left;
}
button
{
	margin: 15px;
	padding: 15px;
	border: 2px solid gray;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
}
button:hover
{
	background-color: tomato;
	color: white;
	border: 2px solid rgba(0, 0, 0, 0);
}
.title
{
	text-align: center;
	display: block;
	margin: 15px auto;
	font-size: 30px;
}

.about-us-info
{
	margin-top: 15px;
}
.about-us-info h3
{
	margin-bottom: 15px;
	font-size: 26px;
}
.about-us-info p
{
	margin-bottom: 10px;
}
#btn_about-us
{
	border: 2px solid #66ccff;
}
#btn_about-us:hover
{
	background-color: tomato;
	color: white;
	border: 2px solid rgba(0, 0, 0, 0);
}
.border
{
	border: 1px solid #cccccc;
	margin-bottom: 15px;
}
.about-us-item
{
	display: flex;
	margin-bottom: 50px;
}
.about-us-item i
{
	font-size: 30px;
	text-align: center;
	width: 100%;
	color: #66ccff;
}
.about-us-item h4
{
	font-size: 20px;
	margin-bottom: 15px;
}
.about-us-item p
{
	font-size: 16px;
}
.section-4
{
	background-color: black;
}
.white-title
{
	padding: 30px 0px;
	color: white;
}
.section-4-item img
{
	border-radius: 50%;
	border: 1px solid white;
	width: 50%;
	padding: 40px;
	margin-bottom: 10px;
}
.section-4-item
{
	text-align: center;
	color: white;
	margin-bottom: 30px;
}
.section-4-item h4
{
	margin-bottom: 10px;
	font-size: 20px;
}